/****** Global Styles ******/

:root {
    --bg-color: #FAFAFA;
    --text-color: hsl(0, 0%, 22%);
    --caption-color: #999999;
    --transition: 0.5s;
    --primary-color: #db6565;
    --light-color: #adadad;
} 

* {
    padding: 0;
    border: 0;
    margin: 0;
  }

a {
    text-decoration: none;
  }

li {
    list-style: none;
  }

html,
body {
    font-family: futura-pt, sans-serif;
    height: 100%;
    box-sizing: border-box;
    line-height: 2rem;
    font-size: 16px;
    font-weight: 300;
  }

body {
    width: 80vw;
    margin: 3rem auto;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
h1, 
h2, 
h3, 
h4 {
    text-transform: uppercase;
    margin: 2.5rem 0 0.5rem 0; 
    font-weight: 300;
    letter-spacing: 0.2rem;
}

h1 {
    font-size: 3rem;
    font-weight: 700; 
    letter-spacing: 0; 
    color: var(--primary-color); 
}  

h2 {
    font-size: 1.5rem;
}

h3 {
    color: var(--caption-color);
}

h4 {
    color: var(--light-color);
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

strong {
    color: var(--primary-color);
}

/****** Accessibility ******/

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    text-decoration: none;
}

.hidden {
    visibility: hidden;
}


/****** Navigation Menu ******/

nav {
    height: 80px;
    clear: both;
}

nav img {
    float: left;
    width: 35px;
    opacity: 0.5;
}

nav ul {
    float: right;
}

nav li {
    float: left;
}

nav a {
        font-size: 0.75rem;
        color: var(--text-color);
        letter-spacing: 0.1rem;
        line-height: 40px;
        text-transform: uppercase;
        opacity: 0.5;
        font-weight: 400;
        transition: opacity var(--transition);
        margin: 2rem;
}

nav a:hover {
    color: var(--primary-color);
    opacity: 1;
}


/****** Header ******/

.intro {
    margin-top: 8rem;
}

.intro p {
    font-size: 2rem;
    line-height: 2.5rem;
}

header p {
    font-size: 1.51rem;
}

.social-media {
    margin-left: 0.3rem;

}

.fab, .fas {
    color: black;
    opacity: 0.2;
    margin: 3rem 1.5rem 4rem 0;
    transition: opacity var(--transition);
}

.fab:hover, .fas:hover {
    opacity: 0.4;
}


/****** Case Study Cards ******/

.card {
    background-color: #fff;
    border: 0.5px solid #EBEBEB;
    border-radius: 10px;
    width: 80%;
    margin: 5rem auto;
    transition: var(--transition);
    clear: both;
    overflow: auto;
}

.card:hover {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    box-shadow: 0 62px 120px -34px rgba(0,0,0,0.10);
    border-radius: 8px;
}


/* ---- Case Study Card Contents ----*/
.card a {
    color: inherit;
} 

.card__text {
    width: 35%;
    margin: 3rem 3rem 3rem 4rem;
    float: left;
    display: inline;
    vertical-align: middle;
    text-align: center;
}

.card img {
    float: left;
    display: inline;
    border-radius: 5px;
    margin: 2rem 0rem 2rem 2rem;
    vertical-align: middle;
    max-height: 250px;
}

.card__text p:first-child {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    width: 100%;
    color: var(--caption-color);
}

.card__text h2 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0 0 0.5rem 0;
}

.card__text p:last-child {
    margin-bottom: 2rem;
}

.card__text a:last-child {
    font-size: 0.8rem;
    color: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    border-radius: 3px;
    padding: 0.5rem 1rem;
}

