:root {
    --bg-color: #FAFAFA;
    --text-color: hsl(0, 0%, 22%);
    --caption-color: #999999;
    --transition: 0.5s;
    --primary-color: #db6565;
    --light-color: #adadad;
}

h3 {
    margin: 0;
    color: var(--primary-color);

}

h4 {
    margin-top: 0;
}



